.city {
  position: relative;
  flex-grow: 1;
  max-width: $baseModule * 24;

  &__button {
    display: flex;
    align-items: center;
    line-height: 1.42;
  }

  &__icon {
    margin-right: $baseModule;
    width: $baseModule * 4;
    height: $baseModule * 4;
    fill: $icon;
  }

  &__name {
    max-width: 152px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__popup {
    transition: all 0.2s ease-in;
    position: absolute;
    top: calc(100% + 16px);
    opacity: 1;
  }
}
