.dropdown {
  line-height: 1.42;
  background: $popup;
  border-radius: 10px;
  min-width: $baseModule * 17;
  padding: 12px $baseModule * 2;
  box-shadow: 0px 6px 38px rgba(44, 62, 106, 0.1);

  &__item {
    margin-bottom: 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
