.location {
  display: block;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    min-height: $baseModule * 6;
    padding: 11px $baseModule * 2;

    &:hover,
    &--active {
      background: $grayOnWhite;
    }
  }

  &__name {
    line-height: 22px;
  }

  &__region {
    color: $descriptor;
    font-size: 12px;
    line-height: 20px;
  }

  &__coloring {
    color: $active;
  }
}
