.menu {
  &::before {
    content: "";
    z-index: 1;
    display: block;
    position: absolute;
    right: $baseModule * 8;
    background: linear-gradient(
      -90deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0) 80%
    );
    height: $baseModule * 4;
    width: $baseModule * 12;
  }

  &__list {
    display: flex;
    flex-shrink: 0;
  }

  &__item {
    margin-right: $baseModule * 4;

    &:last-child {
      margin-right: 0;
    }

    &:hover .menu__dropdown {
      display: block;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: 0 $baseModule;
    height: $baseModule * 3;
    border-radius: 32px;

    &:hover {
      background: $grayOnWhite;
    }
  }

  &__dropdown {
    position: absolute;
    display: none;

    &::before {
      content: "";
      position: absolute;
      display: block;
      height: 8px;
      left: 0;
      top: -8px;
      width: 100%;
    }
  }

  &__arrow {
    position: absolute;
    z-index: 1;
    background: #ffffff;
    display: block;
    width: $baseModule * 4;
    height: $baseModule * 4;
    right: $baseModule * 4;
  }

  &__arrow-icon {
    width: 32px;
    height: 32px;
    fill: none;
    stroke: $mainText;
  }
}
