.search {
  position: relative;
  max-width: $baseModule * 74;

  &__icon {
    position: absolute;
    left: $baseModule;
    width: 32px;
    height: 32px;
    fill: $icon;
  }

  &__input {
    width: 100%;
    height: $baseModule * 6;
    border-radius: 100px;
    background: $grayOnWhite;
    padding-left: $baseModule * 6;
    padding-right: $baseModule;
    line-height: 1.42;

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      cursor: pointer;

      height: 32px;
      width: 32px;
      background: url("../images/sprite.view.svg#close") center center/cover
        no-repeat;
      filter: invert(77%) sepia(0%) saturate(0%) hue-rotate(53deg)
        brightness(87%) contrast(90%);
    }

    &::placeholder {
      text-align: center;
      color: $descriptor;
    }

    &:focus {
      outline: none;
      background: #ffffff;
      box-shadow: inset 0px 0px 0px 2px $highlight;

      &::placeholder {
        text-align: left;
        color: $icon;
      }
    }

    &--popup {
      outline: none;
      background: #ffffff;
      box-shadow: inset 0px 0px 0px 2px $highlight;
      padding-left: $baseModule * 3;
      padding-right: $baseModule * 3;

      &::placeholder {
        text-align: left;
        color: $icon;
      }
    }
  }
}
